body{
background-image: url("https://i.pinimg.com/originals/d0/11/d9/d011d97e1d80631a1f0f88add714c1e0.jpg");
background-position: top right;
background-size: cover;
background-attachment: scroll;
}



#rubrik{
    text-align: center;
    color: orange
    


}


.normaltext {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 600px;
    color:orange;
    border: 3px solid orange;
    
  }

  .annat {
    text-align: center;
    border: 3px solid orange;
    color: wheat;
    max-width: 600px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }